<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">Themis</a></div>
				<a href="#menu">Меню</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Главная</a></li>
					<li><a href="/download">Загрузка</a></li>
					<li><a href="/login">Авторизация</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{{ url_for('static',filename='img/slide01.jpg') }}" alt="" />
					<div class="inner">
						<header>
							<p>Знакомьтесь! Помошник для администраторов -</p>
							<h2>Themis</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{ url_for('static',filename='img/slide02.jpg') }}" alt="" />
					<div class="inner">
						<header>
							<p>Создан специально для администрации RED сервера</p>
							<h2>AMAZING ROLEPLAY</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{ url_for('static',filename='img/slide03.jpg') }}"  alt="" />
					<div class="inner">
						<header>
							<p>Предупреждение о новых репортах</p>
							<h2>это Themis</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{ url_for('static',filename='img/slide04.jpg') }}"  alt="" />
					<div class="inner">
						<header>
							<p>Полезные функции для слежки</p>
							<h2>это Themis</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{ url_for('static',filename='img/slide05.jpg') }}"  alt="" />
					<div class="inner">
						<header>
							<p>Связь во ВКонтакте прямо из игры</p>
							<h2>это Themis</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{ url_for('static',filename='img/pic02.jpg') }}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>maecenas sapien feugiat ex purus</p>
										<h2>Lorem ipsum dolor</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{ url_for('static',filename='img/pic03.jpg') }}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>mattis elementum sapien pretium tellus</p>
										<h2>Vestibulum sit amet</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Фотографии работы помошника для администраторов</p>
						<h2>О Themis</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{{ url_for('static',filename='img/pic01.jpg') }}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{{ url_for('static',filename='img/pic02.jpg') }}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{{ url_for('static',filename='img/pic03.jpg') }}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{{ url_for('static',filename='img/pic04.jpg') }}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://vk.com/alexsandros12" class="icon fa-vk"><span class="label">VK</span></a></li>
						<li><a href="https://amazing-online.com/" class="icon fa-home"><span class="label">Home</span></a></li>
						<li><a href="https://yoomoney.ru/fundraise/oHJPAQIoqB8.230131" class="icon fa-credit-card"><span class="label">Donate</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Themis. 2023 г.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>