{% extends "generic.html" %}

{% block content %}

<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p><br>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alt">
    {% for message in messages %}
      <li style="color: #c70000;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <br>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p></p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}